:root {
  --blue: #3692ff;
  --brand-blue: #3182f6;
  --blue-bg: #cfe5ff;
  --blue-light: #e6f2ff;
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-400: #9ca3af;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;
  --white: #ffffff;
  --card-bg: #fcfcfc;

  --font-size-logo-lg: 6.6rem;
  --font-size-banner: 4rem;
  --font-size-title: 4rem;
  --font-size-logo: 2.56rem;
  --font-size-label: 1.8rem;
  --font-size-body: 1.6rem;
}
